 :root {
  --Dark-slate-grey: hsl(234, 29%, 20%);
  --Charcoal-grey: hsl(235, 18%, 26%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(231, 7%, 60%);
 }
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html  {
  font-size: 62.5%;
}


 .attribution {
   font-size: 11px;
   text-align: center;
 }

 .attribution a {
   color: hsl(228, 45%, 44%);
 }